/**
Just a side note...  Sizing is always fkn annoying unless you have this
I'd recommend having border-box for everything in your page like so.
However, remember to remove this from here before adding to your site.
This setting should be in your main css file if your going to use it.
 */
html {
    box-sizing: border-box;
}


/* The Modal shade (background) */
.modal-shade {
    /** Recommend leaving this alone.
    By default I have specified no padding so the
    modals size and look is entirely defined by the container to enable
    the ability to change the display dynamically
    by replacing the container styles and html in my php/js class objects/functions.
     */
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 118, 0.56); /* Black w/ opacity */
}

/* Modal Container/Dialog Box */
.modal-container {
    /* adjust these as you want..
     Note: I made the modal shade have no padding so that you can specify exactly how you want
     the container to display by default it fits the content(body) and is centered in the middle
     */
    height: fit-content;
    width: fit-content;

    /* Don't change if you want it centered.
    Centering horizontally and vertically
    requires parent element (the modal/shade) to have
    fixed, relative or absolute position with specified height and width*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    /* adjust for themes*/
    border: 0px solid #000000;
    border-radius: 5px ;
    overflow: hidden;/*so border radius actually trims the contents */

    font-family: "Calibri Light", serif;
    font-size: large;
    -webkit-box-shadow: 5px 5px 7px 0 rgba(0,0,0,0.3);
    box-shadow: 5px 5px 7px 0 rgba(0,0,0,0.3);
}

.modal-title{
    /*required*/
    box-sizing : border-box;
    border: none;
    width: 100%;
    /*change for themes*/
    background: linear-gradient(180deg, lightskyblue, cornflowerblue,royalblue);
    text-shadow: 2px 2px #595959;
    color: white;
    padding: 10px;

    box-shadow: 0px 5px 15px 6px #595959;
    position:relative; /*so the shadow renders over the body*/
}
.modal-title::after{

}

.modal-body{
    padding: 10px;
    background: white;
}
/* The Close Button */
.modal-close {
    /*positioning absolute as the float is insufficient for placing in the top right corner*/
    position: absolute;
    top: -1px;
    right: -1px;
    color: #000000;
    font-weight: bold;
    text-shadow: none;
    background: darkred;
    height: 24px;
    width: 24px;
    line-height: 24px;/* vertical centre the text by using line height same as height*/
    text-align: center;
    /*border: 2px outset darkred;*/
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px rgba(254, 254, 254, 0.51) inset;
    z-index: 172;
}
.modal-close:hover,
.modal-close:focus {
    color: #fefefe;
    background: orangered;
    text-decoration: none;
    cursor: pointer;
}


/*extra elements inside the modal*/
.modal-body button{
    min-height: 20px;
    min-width: 60px;
    background: inherit;
    font: inherit;

    -webkit-box-shadow: 5px 5px 7px 0 rgba(0,0,0,0.3);
    box-shadow: 3px 5px 7px 0 rgba(0,0,0,0.3);

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-default {
    background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
    -webkit-filter: none;
    filter: none;
}
.btn, .btn:hover {
    border-color: rgba(0,0,0,0.6);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-default {
    color: #ffffff;
    background-color: #3a3f44;
    border-color: #3a3f44;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
a {
    color: #ffffff;
    text-decoration: none;
}
a {
    background-color: transparent;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}